[Unit]
Description=CSVN Automatic Starter Service

[Service]
Type=oneshot
ExecStart=/opt/csvnautostarter/csvnautostarter.sh
User=collabnet

[Install]
WantedBy=default.target